/* 769-992 -  big tablet devices */
@media (min-width: 769px) and (max-width: 992px) {
  .container {
    max-width: 85%;
  }

  .hero {
    display: block;
  }

  .carousel-inner {
    width: 100%;
  }

  .hero__content {
    width: 100%;
    margin-left: 0;
    margin-top: 65px;
  }

  .portfolio {
    margin-top: 55px;
  }
  .portfolio__text {
    width: 100%;
  }

  .portfolio__items {
    gap: 12px;
  }

  .portfolio__item {
    width: 180px;
    height: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portfolio__image {
    width: 100%;
    height: 100%;
  }
}

/* 0-576 - mobile devices */
@media (min-width: 0) and (max-width: 576px) {
  .container {
    max-width: 92%;
  }

  .hero {
    display: block;
  }

  .carousel-inner {
    width: 100%;
    height: 355px;
  }

  .hero__content {
    width: 100%;
    margin-left: 0;
  }

  .portfolio {
    margin-top: 55px;
  }
  .portfolio__text {
    width: 100%;
  }

  .portfolio__items {
    gap: 15px;
  }

  .portfolio__item {
    width: 165px;
    height: 165px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portfolio__image {
    width: 100%;
    height: 100%;
  }

  #contactModal .modal-content {
    background-color: #363636;
    color: var(--main-text-color);
    padding: 10px 10px;
    width: 90%;
  }

  .modal__btn {
    width: 95%;
  }
}
